<!--PAYMENT PAGE-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style2.css' %}">
        <title> Secure Payment</title>
    </head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'payment' %}">
            <h1>Secure Payment</h1>
            {% csrf_token %}
        
            <!-- Credit Card Information -->
            <label for="card-number">Card Number</label>
            <input type="text" id="card-number" name="card_number" required placeholder="1234 1234 1234 1234" maxlength="19" pattern="\d{4} \d{4} \d{4} \d{4}">
        
            <br>

            <label for="expiry-date">Expiry Date (MM/YY)</label>
            <input type="text" id="expiry-date" name="expiry_date" required placeholder="MM/YY" maxlength="5" pattern="\d{2}/\d{2}">
        
            <br>

            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" required placeholder="123" maxlength="3" pattern="\d{3}">
        
            <br><br>
            <form action="confirmation1.html" method="POST">
                <button type="submit">Pay Now</button>
            </form>
        </form>

    </div>
</body>
</html>