<!-- TO REGISTER IF ACCOUNT HASNT BEEN MADE PRIOR-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="container">
            <form method="post">
                <h2>Register</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            <p>Already have an account? <a href="{% url 'index' %}">Login</a></p>
        </form>
    </div>

    <script src="script.js"></script>

</body>
</html>
